<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">
<head>
    <title>Ajouter/Modifier Filière</title>
</head>
<body>
<div th:fragment="content">
    <div class="card p-4 shadow-sm">
        <h3 th:text="${filiere.id == null ? 'Ajouter une filière' : 'Modifier filière'}"></h3>

        <form th:action="${filiere.id == null} ? @{/filieres} : @{/filieres/{id}(id=${filiere.id})}" method="post">
            <div class="mb-3">
                <label>Code</label>
                <input class="form-control" name="code" th:value="${filiere.code}" required>
            </div>

            <div class="mb-3">
                <label>Nom</label>
                <input class="form-control" name="nom" th:value="${filiere.nom}" required>
            </div>

            <button class="btn btn-success">Enregistrer</button>
            <a class="btn btn-secondary" th:href="@{/filieres}">Retour</a>
        </form>
    </div>
</div>
</body>
</html>